* {
  margin: 0;
  padding: 0;
}

/*font-family: 'Barlow Semi Condensed', sans-serif;*/
body {
  background-color: #460e56;
}

h1 {
  font-size: 4rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #0c59cf;
}

a {
  text-decoration: none;
}

span, p {
  color: aliceblue;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.titulos {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: black;
}

.botonespera {
  background-color: black;
  width: 180px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  background-image: radial-gradient(red, black);
}

.titulo-principal {
  font-size: 4rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #0c59cf;
}

header {
  background-color: #460e56;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100px;
}

nav {
  height: 50px;
  background-color: black;
}

.lista-navegacion {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.9rem;
  list-style: none;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.links-principales {
  color: #0c59cf;
}

@media (min-width: 750px) {
  header {
    background-color: #460e56;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
  }
  .titulo-principal {
    font-size: 5rem;
    color: #0c59cf;
  }
  nav {
    height: 50px;
    background-color: black;
  }
  .lista-navegacion {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    font-size: 1.6rem;
    list-style: none;
  }
}
@media (min-width: 1150px) {
  nav {
    height: 50px;
    background-color: black;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 20px;
  }
}
.caja-p-inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 30px;
}
.caja-p-inicio img {
  height: 210px;
  margin-left: 50px;
}

.titulos__comoganarmm {
  display: block;
  margin-top: 30px;
  color: black;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.como-ganar-mm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 80px;
}
.como-ganar-mm img {
  border-radius: 15%;
  border: 3px solid black;
}

.rutina-calistenia-abdomen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.rutina-calistenia-abdomen img {
  border-radius: 15%;
  border: 3px solid black;
}

@media (min-width: 750px) {
  .apartado {
    font-size: 1.2rem;
  }
  .texto-ganar-mm {
    font-size: 1.4rem;
  }
  .texto-rutina-calistenia {
    font-size: 1.4rem;
  }
  .rutina-calistenia-abdomen img {
    width: 300px;
    height: 280px;
  }
  .como-ganar-mm img {
    width: 420px;
    height: 250px;
  }
}
@media (min-width: 1150px) {
  .como-ganar-mm {
    display: flex;
    flex-direction: row;
  }
  .rutina-calistenia-abdomen {
    display: flex;
    flex-direction: row;
  }
}
.ejercicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.caja-ejercicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caja-ejercicios img {
  border-radius: 20%;
  width: 100%;
  height: 50%;
}
.caja-ejercicios img h3 {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

@media (min-width: 750px) {
  .ejercicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
  .caja-ejercicios img {
    border-radius: 20%;
    width: 400px;
    height: 60% .caja-ejercicios img h3;
    height-display: flex;
    height-justify-content: center;
    height-font-size: 2rem;
  }
}
@media (min-width: 1150px) {
  .ejercicios {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
  }
  .caja-ejercicios img {
    border-radius: 20%;
    width: 300px;
    height: 50%;
  }
}
.contenedor_ejercicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.tipode_ejercicio {
  padding-top: 30px;
}

.modalidad_ejercicio {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}
.modalidad_ejercicio img {
  border-radius: 20%;
  width: 100%;
  height: 50%;
}
.modalidad_ejercicio img h3 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

@media (min-width: 535px) {
  .modalidad_ejercicio {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
  }
  .modalidad_ejercicio h3 {
    font-size: 2.2rem;
  }
  .modalidad_ejercicio img {
    border-radius: 20%;
    width: 350px;
    height: 60%;
  }
}
@media (min-width: 1100px) {
  .contenedor_ejercicios {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
  }
  .tipode_ejercicio {
    grid-column: 1/-1;
  }
  .modalidad_ejercicio {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .modalidad_ejercicio h3 {
    font-size: 2rem;
    padding-bottom: 10px;
  }
}
.buscador-consejos {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-evenly;
  align-items: start;
  padding-top: 5px;
}
.buscador-consejos input {
  display: block;
  height: 30px;
  width: 130px;
}

.parrafo-boton {
  display: flex;
  background-color: black;
  width: 300px;
  height: 130px;
  align-items: center;
  border-radius: 20%;
}

.consejos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
}
.consejos img {
  width: 350px;
  border: 3px solid black;
  border-radius: 25%;
  gap: 20px;
}

.alimentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto-alimentacion {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  height: 200px;
  justify-content: center;
  align-content: center;
}

.descanso {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto-descanso {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  height: 200px;
  justify-content: center;
  align-content: center;
}

.titulos-consejos {
  font-size: 2rem;
}

@media (min-width: 750px) {
  .buscador-consejos {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5px;
  }
  .buscador-consejos input {
    display: block;
    height: 50px;
    width: 170px;
    border-radius: 30%;
  }
  .parrafo-boton {
    display: flex;
    background-color: black;
    height: 200px;
    width: 500px;
    overflow: scroll;
    align-items: center;
    border-radius: 30%;
    gap: 40px;
    margin-bottom: 50px;
  }
  .parrafo-boton span {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
  }
  .consejos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;
  }
  .consejos img {
    width: 450px;
    border: 3px solid black;
    border-radius: 25%;
    gap: 40px;
  }
  .texto-alimentacion {
    display: flex;
    font-size: 1.4rem;
    padding-left: 20px;
    padding-right: 20px;
    height: 200px;
    justify-content: center;
    align-content: center;
  }
  .texto-descanso {
    display: flex;
    font-size: 1.4rem;
    padding-left: 20px;
    padding-right: 20px;
    height: 200px;
    justify-content: center;
    align-content: center;
  }
}
@media (min-width: 1150px) {
  .buscador-consejos input {
    display: block;
    height: 40px;
    width: 200px;
    background-color: white;
    border-radius: 10%;
  }
  .consejos {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}
@media (min-width: 1150px) {
  .parrafo-boton {
    display: flex;
    background-color: black;
    height: 200px;
    width: 500px;
    overflow: scroll;
    border-radius: 30%;
    gap: 40px;
    margin-bottom: 50px;
  }
  .consejos {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .alimentacion {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  .titulos-consejos {
    justify-self: center;
  }
  .descanso {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
}
.portadaacd {
  height: 90vh;
  background-image: url(../../img/fondoAcercaDeFIttWeb.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portadaacd__tarjeta {
  display: flex;
  align-items: center;
  background-color: rgb(190, 175, 175);
  width: 230px;
  height: 250px;
  border-radius: 3%;
  text-align: center;
}
.portadaacd__tarjeta span {
  color: black;
}

@media (min-width: 750px) {
  .portadaacd__tarjeta {
    background-color: rgb(190, 175, 175);
    width: 470px;
    height: 350px;
    border-radius: 3%;
    text-align: center;
    display: flex;
    align-items: center;
  }
  .portadaacd__tarjeta span {
    font-size: 1.6rem;
  }
}
@media (min-width: 1150px) {
  .portadaacd {
    height: 90vh;
  }
}
.caja-footer {
  display: flex;
  padding: 10px;
  height: 60vh;
  width: 100vw;
  background-color: black;
  flex-direction: column;
  justify-content: space-between;
}
.caja-footer p {
  color: #0c59cf;
}

.titulo-footer {
  color: #0c59cf;
  font-size: 2.5rem;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.contacto-footer {
  color: #0c59cf;
}

@media (min-width: 750px) {
  .caja-footer {
    display: flex;
    padding: 15px;
    height: 25vh;
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
  }
  .titulo-footer {
    color: #0c59cf;
    font-size: 2.9rem;
  }
  .caja-footer p, span {
    color: #0c59cf;
    font-size: 1.55rem;
  }
}

/*# sourceMappingURL=styles.css.map */
