/* font-family: 'Barlow Semi Condensed', sans-serif;*/
*{
    margin:0;
    padding:0;
}
.titulo-principal{
    color: #0c59cf;
}
.links-principales{
    color: #0c59cf;
   
}
.titulos{
    color: #d6d6d6;
}
.titulo-footer{
    color: #0c59cf;
}


p {
    color: #d6d6d6;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
    
span {
    color: #d6d6d6;
    font-family: 'Barlow Semi Condensed', sans-serif;
}



header{
    background-color: #460e56;
height: 150px;

}

nav{
    background-color: black;
    
}
main { 
    color: #460e56;
}


main {
    background-color:#460e56 ;
}

footer{
    background-color: black;
    margin-right: 40px;
    
    }

    body{
        background-color: #460e56;
    }

 
    