*{
    margin:0;
    padding:0;
}

$titulos: black;
 $tipo-grafia:'Barlow Semi Condensed', sans-serif;

/*font-family: 'Barlow Semi Condensed', sans-serif;*/

body{
    background-color: #460e56;
  }
h1 {
font-size: 4rem;
font-family: $tipo-grafia;
    color: #0c59cf
    

}

a{ 
    text-decoration: none;
}
span, p {
color: aliceblue;
font-family: $tipo-grafia;
}

.titulos{
    font-family: $tipo-grafia;
    color: $titulos;
}


