.titulo-principal {
    font-size: 4rem;
    font-family: 'Barlow Semi Condensed', sans-serif;;
        color: #0c59cf;
    
    
    }
 
 header{
    background-color: #460e56; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;

 }