/*Fittweb es una pequeña página web creada por una persona que no hace mucho está metida en este mundo pero que quiere ofrecerte una breve información sobre la nutrición, ejercicios, consejos para tus resultados y un espacio en donde puedas aprender lo esencial para iniciar tu construcción en el mundo del fitness y tomarlo como una parte de tu vida diaria, de forma tranquila, progresiva y saludable.*/

.portadaacd{

    height: 90vh;
    background-image: url(../../img/fondoAcercaDeFIttWeb.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;



 & tarjeta {
    background-color: rgb(190, 175, 175);
    width: 230px;
    height: 250px;
    border-radius: 3%;
    text-align: center;
    display: flex;
    align-items: center;

    & span{
        color: black;

    }
 }


}


 @media (min-width:750px) {
    .portadaacd__tarjeta{
        background-color: rgb(190, 175, 175);
        width: 470px;
        height: 350px;
        border-radius: 3%;
        text-align: center;
        display: flex;
        align-items: center;

        & span {
            font-size: 1.6rem;

        }
    
 }
}


@media (min-width:1150px){
   .portadaacd{
    height: 90vh;
   }

}