.buscador-consejos{
    display: flex;
    flex-direction: column;
    height: 150px   ;
    justify-content: space-evenly;
    align-items: start ;
    padding-top: 5px;
    position: relative;}
    
    
    
    #busqueda{
      display: block;
      height: 30px;
    width: 200px;
    border-radius: 100px;
    font-size: 15px;
    padding: 0 15px;
    border: 2px solid #ffff;
    background: transparent;
    color: black;
    outline: none;

}

    
    .parrafo-boton {
        background: black;
        cursor: pointer;
        border: none;
        padding: 16px 32px;
        color: #ffff;
        font-size: 20px;
        font-weight: bold;
        width: 300px;
        height: 130px;
        align-items: center; 
        border-radius: 12px;
        overflow: none;
        
      
&::before{
    content: "";
position: absolute;
top: 0;
left: 0;
z-index: -1;
width: 100%;
height: 100%;
background: linear-gradient(45deg, red, blue, deeppink, blue,

red, blue, deeppink, blue);
background-size: 800%;
border-radius: 10px;
filter: blur(8px);
animation: glowing 20s linear infinite;
}
       @keyframes glowing {

        0% {
            background-position: 0 0;

        }

        50%{
             background-position: 400% 0;

        }
        
        100%{
            background-position: 0 0;
        }
       }
            
        }
        
    
    
    
       .consejos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 30px;
                          
       & img{
        
        width: 350px;
        border: 3px solid black;
        border-radius: 25%;
        gap: 20px; }
        
    }
    
      
    
      .alimentacion{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
        
     
     .texto-alimentacion{
        display: flex;
    padding-left: 20px;
    padding-right: 20px;
    height: 200px;
        justify-content: center;
        align-content: center;
     }
    

     .descanso{
        display: flex;
        flex-direction: column;
        align-items: center;
      }

     .texto-descanso{
        display: flex;
    padding-left: 20px;
    padding-right: 20px;
    height: 200px;
        justify-content: center;
        align-content: center;
     }
       
     .titulos-consejos{
        font-size: 2rem;
     }
    
    @media (min-width:750px) {
       
        .buscador-consejos {
            display: flex;
            flex-direction: column;
            height: 150px;
            justify-content: space-evenly;
            align-items: center ;
            padding-top: 5px;
          
            
            & input{
                display: block;
                height: 50px;
              width: 170px;
              border-radius: 30%;
            
              }
            }
             .parrafo-boton{
    
                display: flex;
                background-color: black;
                height: 200px;
                width: 500px;
                overflow: scroll;
               align-items: center;
                border-radius: 30%;
                gap: 40px;
                margin-bottom: 50px;
               
           
            & span{
                font-size: 1.1rem;
                display: flex;
                align-items: center;
                
            }
        }

            .consejos{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;
                gap: 40px;
              
    
               & img{
                width: 450px;
                border: 3px solid black;
                border-radius: 25%;
                gap: 40px;}
               }
    
    
               .texto-alimentacion{
                display: flex;
                font-size: 1.4rem;
            padding-left: 20px;
            padding-right: 20px;
            height: 200px;
                justify-content: center;
                align-content: center;
                
             }
             .texto-descanso{
                display: flex;
                font-size: 1.4rem;
            padding-left: 20px;
            padding-right: 20px;
            height: 200px;
                justify-content: center;
                align-content: center;
             }
          } 
    
          @media (min-width:1150px) {
    
            .buscador-consejos input{
               display: block;
                height: 40px;
              width: 200px;
              background-color: white;
              border-radius: 10%;
              }
              
    
              .consejos{
              display: flex;
              flex-direction: column;
              justify-content: start;
                       }
            
    
    
    
        }
    
        @media (min-width:1150px){
    
           .parrafo-boton{  display: flex;
            background-color: black;
            height: 200px;
            width: 500px;
            overflow: scroll;
            border-radius: 30%;
            gap: 40px;
            margin-bottom: 50px;}
           
            .consejos{
                display: flex;
                flex-direction: column;
               
                gap: 40px;}
       
           .alimentacion{
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
               }
            .titulos-consejos{
                justify-self:center;
            }
               .descanso{
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
    
               }
    
    }