.contenedor_ejercicios_brazos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.ejerciciodebrazos{
  padding-top: 30px;

}


  
.cajabrazo{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;


 & img{
border-radius: 20%;
width: 100%;
height: 50%;



& h3{
  display: flex;
    justify-content: center;
    font-size: 2rem;

}


}


}





@media (min-width:535px) {

  .cajabrazo{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
 
& h3{
  font-size: 2.2rem;}


  & img{
    border-radius: 20%;
    width: 350px;
    height: 60%; 
  
  
  }
    


  }
}


@media (min-width:1100px){

.contenedor_ejercicios_brazos{

  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
}

.ejerciciodebrazos{
  grid-column: 1/-1;
}
 
.cajabrazo{
  padding-top: 40px;
  padding-bottom: 40px;

& h3{
  font-size: 2rem;
  padding-bottom: 10px;
}



}




}