.caja-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
   gap: 30px;

& img{
    
    width: 250px;
    border: 3px solid black;
    border-radius: 25%;
    gap: 20px;
}

}
.caja-informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    & p{   
        display: inline-block;
       margin-top: 40px;
       margin-bottom: 30px;
font-family: $tipo-grafia;
font-size: 1.3rem
    }
}

@media (min-width:750px){
    .caja-principal {
        display: flex;
        flex-direction:column;
         align-items: center;
}

.caja-informacion{
    display: flex;
    flex-direction: row;
    
    & p{   
        display: inline-block;
font-size: 1.3rem;
margin-left: 25px;
    }

& img{
    width: 350px;
}


}
.titulo-inicio{
    display: inline-block;
    margin-top:80px;
    font-family: $tipo-grafia;
    color: $titulos;


}



}
@media (min-width:1150px){
    .caja-informacion{

        & img{
            
        width: 500px;
        border: 3px solid black;
        border-radius: 25%;
        gap: 20px;
        }
        & p{   
            display: inline-block;
    font-size: 1.8rem;
    margin-left: 25px;
        }
    }
    .titulo-inicio{ 
        display: inline-block;
        margin-top:80px;
        font-family: $tipo-grafia;
        color: $titulos;
        font-size: 2.5rem;}
}